
<div class= "login" >
  <% if current_user %>
    <p>Welcome <%= current_user %> | <a href="/signout">Signout</a></p>
  <% else %>
    <p>I am in the login index</p>
    <form action="/" method="POST">
      <input type="text" name="user[username]" placeholder="Username">
      <input type="password" name = "user[password]" placeholder="Password">
      <input type="submit" value= "login">
    </form>
    <% end %>
</div>


