
<div class= "sign_in" >
<% if current_user %>
    <p>Welcome <%= current_user.username %> | <a href="/sessions/<%= current_user.id %>">Signout</a></p>
    <% else %>
    <%= erb :signin %>
    <%= erb :signup %>
    <% end %>
</div>


