
<div class= "login" >
  <p>I am in the login index</p>
  <form action="/" method="post">
    <input type="text" name="user[:username]" id="">
    <input type="text" name = "user[:email]">
    <input type="text" name = "user[:password]">
    <input type="submit" value= "Login">
  </form>
</div>
