<h1><%= @user.username %></h1>

<form action='/users/follow/<%= @user.id %>' method='post'>
  <input type='submit' value='Follow'>
</form>

<form action='/users/<%= @user.id%>/tweets' method='post'>

  <input type='text' name='content' placeholder='Post a Tweet' id='tweet_field'>
  <input type='submit' value='Submit' style='visibility: hidden;'>

</form>


<ul>
  <% @user_tweets.each do |tweet| %>
  <li><%=tweet.content%> </li>
  <% end %>

</ul>
