
<div class = "signup_form">
  <table>
    <th class="purple_signup">Sign-Up</th>

      <form action="/users" method = "POST">
        <tr>
          <td class="purple_rows"><input type="text" name= "user[username]" placeholder = "username"></td>
        </tr>

        <tr>
          <td class="purple_rows"><input type="text" name= "user[email]" placeholder = "email"></td>
        </tr>

        <tr>
          <td class="purple_rows"><input type="password" name="user[password]" placeholder = "password"></td>
        </tr>

        <tr>
          <td class="purple_rows"><input type="submit" value="Sign up!"></td>
        </tr>
    </form>
  </table>
</div>
