<div class = "signin_form">

  <table>
    <th>Sign-In</th>
      <form action="/" method = "POST">
        <tr>
          <td><input type="text" name= "user[username]" placeholder = "username"></td>
        </tr>
        <tr>
          <td><input type="password" name="user[password]" placeholder= "password"></td>
        </tr>
        <tr>
          <td><input type="submit" value="Sign In!" class="submit_button"></td>
        </tr>
      </form>
  </table>
</div>
