<div class = "users_list">

  <table>
    <th>Get a friend </th>

    <tr>
      <% @users.each do |user| %>
      <td class="<%= user.id %>"><a href="/users/<%= user.id %>"><%= user.username %></a>
      </td>
    </tr>
        <% end %>

</table>
</div>
